.bgvideo {
    height: 35vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video {
    height: 35vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
object-fit: cover;
z-index: 1;
}

.video-text {
    color: black;
    z-index: 2;
}
 